header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #040b20;
    z-index: 100;
}

.logo h1{
    color: white;
    font-size: 20px;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;

}

.logo p{
    color: rgb(201, 201, 201);
    text-transform: uppercase;
    font-size: 10px;
    margin: 0;
    text-align: center;
}

.nav-links nav ul {
    display: flex;
    align-items: center;
}

.nav-links nav ul li{
    list-style: none;
    font-size: 15px;
    font-family: 'Poppins';
    padding-left: 1.2rem;
}

.nav-links nav ul li a{
    text-decoration: none;
    color: white;
}

